src/main/mule/properties-file-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e0a4f8d-8470-48f4-bbb6-461bdae4b5c8" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="ffcfec8c-ab92-4dc6-bbde-a8af7e52ecd9" file="property-demo.yaml" />
	<flow name="properties-file-demoFlow" doc:id="abc764b1-4cce-4913-a728-e2b151bb7df2" >
		<http:listener doc:name="Listener" doc:id="0159070d-943c-43da-917e-31d6655c25f3" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-payload value='#["this is properties file demo project sample"]' doc:name="Set Payload" doc:id="7dc80dac-4e77-4afb-a5e8-b4a4a1bfdc3e" />
	</flow>
</mule>
